body {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 40px;
  width: 960px;
}
nav {
  background-color: rgba(255, 211, 78, .8);
  padding: 10px;
  font-size: 12px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 14px;
}
nav a:hover {
  color: #BD4932;
}
h1 {;
  color: #105B63;
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
}
h2 {
  font-weight: 600;
}
.container {
  width: 100%;
}
article {
  float: left;
  width: 640px;
  font-weight: 300;
  font-size: 18px;
}
aside {
  float: right;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  background: rgba(16, 91, 99, .4);
  padding: 0 10px;
  margin-top: 22px;
  height: 900px;
  font-size: 14px;
}
.byline {
  color: #BD4932;
  font-size: 16px;
  font-weight: 400;
}
span {
  color: white;
}
footer {
  clear: both;
  text-align: center;
  padding: 5px;
  background: #BD4932;
}
footer p {
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #FFD34E;
}


