body {
  font-family: 'Raleway', sans-serif;
  margin: 30px;
  width: 60%;
}

h1 {
  color: #8C2E36;
}
nav a {
  text-decoration: none;
  color: #7C9289;
  padding: 24px;

}

nav a:hover {
  color: #D9D1BA;
}

p {
  font-weight: 300;
  font-size: 20px;
}

.byline {
  color: #A6460F;
  font-size: 16px;
}

span {
  font-weight: 800;
}

footer p {
  font-size: 12px;
}
